# Server
PORT=3000
CORS_ORIGIN=http://localhost:5173
API_KEY=

# Salesforce
SF_INSTANCE_URL=
SF_CLIENT_ID=
SF_CLIENT_SECRET=
API_VERSION=v66.0

# Data 360
UNIFIED_INDIVIDUAL_DMO=
UNIFIED_LINK_INDIVIDUAL_DMO=
